body{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th,td {
    border: 1px solid lightgray;
}
.user {
    width: 400px;
}
.user th {
    width: 30%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: dimgray;
}

input {
    width: 100%;
    border:none;
    background: transparent;
}

button {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border-style: none;
}